.alert-btn
    margin-bottom: 10px

.logout-btn
    font-size: 1.3rem
    cursor: pointer

.logout-btn:hover
    transform: scale(1.05)

.add-btn
    height: 60px
    width: 60px
    background-color: $green3
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    text-align: center
    font-size: 2.1rem
    color: white

.home-add-btn
    position: absolute
    margin: 28px
    right: 0
    bottom: 0

.home-add-btn:hover
    cursor: pointer
    transform: scale(1.1)
    box-shadow: 0px 0px 10px 7px rgba(196, 252, 186, 0.414)

.participant-btn
    height: 1.9rem
    width: 1.9rem
    border-radius: 50%
    background-color: $green2
    margin-left: 10px
    color: white
    border: none
    font-size: 1rem

.add.participant-btn
    background-color: $green2

.remove.participant-btn
    background-color: orange

.close-window
    position: absolute
    right: 0
    margin: 20px 20px
    font-size: 1.3rem
    color: white

@media (min-width: 769px)
    .logout-btn
        font-size: 1.5rem
