.new-group-container
    height: 93vh
    width: 100%
    background-color: $green4
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 35px

// .new-group-container h2 
//     font-size: 1.3rem
//     color: $background
//     margin: 25px 0

.new-group-container h3
    font-size: 1.1rem
    color: $background
    margin: 20px 0

.new-group-row
    width: 100%
    max-width: 700px
    margin-bottom: 20px

.new-group-input
    background-color: $green4
    border: none
    outline: none
    border-bottom: 1px solid $green1
    padding: 5px
    color: white

.new-group-input
    width: 100%

.new-group-input::placeholder
    color: $green2

.participant-name-ul
    width: 100%
    padding: 0
    display: flex
    flex-direction: column
    justify-content: space-between
    list-style: none

.participant-name-ul p 
    margin: 10px 0
    color: $green1

li:first-child
    opacity: 0.7
    font-style: italic

.new-group-container .warning-tag
    margin-top: 0
    align-self: start
    