//COLORS
$green1: #cad2c5
$green2: #84a98c
$green3: #52796f
$green4: #354f52
$green5: #2f3e46
$background: #f4f7f8

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap')

$sedgwick: 'Sedgwick Ave Display', cursive

a 
    color: inherit
    text-decoration: none

.rounded-container
    border-radius: 8px

.rounded-input
    border: 1px solid $green3
    border-radius: 3px
    padding: 0 5px
    font-size: 0.8rem
    height: 1.8rem



